.RangeInput {
    border: 0;

    display: grid;
    grid-template-columns: repeat(10, 3rem);
    grid-template-rows: 3rem;

    gap: 0;

    justify-content: center;
    justify-items: center;

    input {
        display: none;
    }

    label {
        padding: 0;
        margin: 0;

        width: 100%;
        height: 100%;

        border: 1px solid #666677;
        border-right-width: 0;

        background-color: #333344;

        display: flex;
        align-items: center;
        justify-content: center;

        &:last-child {
            border-right-width: 1px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
    }

    label:has(input[type="radio"]:checked) {
        background-color: #444499;
    }
}

.Quiz {
    display: flex;
    flex-direction: column;

    gap: var(--gap);

    justify-content: center;
    align-content: flex-start;

    h2,
    h3,
    p {
        text-align: center;
    }

    input[type="button"],
    input[type="submit"] {
        width: 15rem;
        margin-left: auto;
        margin-right: auto;
    }

}

.questions {
    display: flex;
    flex-direction: column;

    gap: calc(2*var(--gap));

    margin-top: calc(4*var(--gap));
    margin-bottom: calc(2*var(--gap));
}

.Question {
    .text {
        text-align: center;
        display: block;
        margin-bottom: var(--gap);
    }
}

.answers {
    margin-top: calc(4*var(--gap));
}

input.end {
    margin-bottom: calc(2*var(--gap));
}

input.delete {
    background-color: #551111;
    border: 1px solid #773333;
    color: #ffaaaa;
}
